header{
    position: relative;
}

#wavesection{
    width: 100%;
    height: 600px;
    background: hsla(101, 57%, 43%, 0.315);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(87, 67%, 63%, 0.247), hsla(101, 57%, 43%, 0.358));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(87, 67%, 63%, 0.312), hsla(101, 57%, 43%, 0.323)), url("../img/4586132563_6d2030bda7_b.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
}

.container-fluid{
    width: 100%;
    height: 100px;

}
#inicio{
    width: 100%;
    height: 70px;
    background-color: rgb(146, 212, 47);
    text-shadow: 10px 10px 5px rgb(26, 90, 15);
    text-align:left;
    font-size:250%;
}

.container{
    width: 100%;
    box-shadow: 0px 4px 4px rgba(53, 51, 51, 0.25);
    font-size: large;
}

#options{
    width: 70%;
    margin-bottom: 5%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: larger;
}

#search{
    margin-left: 0%;
    margin-right: 0%;
}

body {
    margin-top: 100px; 
    height: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px; 
    background-color: #c8c3c3;
    text-align: center;
    padding-top: 10px;
    display: none; 
}

body.content-filled footer {
    display: block; 
}

#filtro{
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}